/*
@function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
}
*/
html, body, * {
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.header {
  width: 100%;
}
.header__logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 165px;
  height: 28px;
}

.localisation {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #353535;
  font-size: 12px;
  background: linear-gradient(#cfcfcf 0%, #eaeaea 12%);
}
.localisation i {
  position: relative;
  right: 19px;
}

.slogan {
  height: 290px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
}
.slogan__one {
  font-size: 18px;
  font-weight: 700;
  padding-top: 45px;
  width: 50%;
}
.slogan__two {
  font-size: 13px;
  font-weight: 200;
  padding-top: 23px;
  padding-bottom: 33px;
  width: 70%;
}
.slogan__button {
  font-size: 13px;
  font-weight: 700;
  color: white;
}

.operation {
  display: flex;
  flex-direction: column;
  height: 440px;
}
.operation__title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 54px;
  padding-bottom: 34px;
}
.operation__text {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1450px;
  background-color: #f6f6f6;
}
.restaurants__title {
  padding-top: 60px;
  padding-bottom: 10px;
  width: 80%;
  font-size: 18px;
  font-weight: 700;
}
.restaurants__card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
}
.restaurants__card img {
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.restaurants__identity {
  display: flex;
  flex-direction: column;
}
.restaurants__identity i {
  position: relative;
  right: 15px;
  bottom: 20px;
  align-self: flex-end;
}
.restaurants__name {
  position: relative;
  left: 15px;
  top: 10px;
  font-size: 13px;
  font-weight: 700;
}
.restaurants__sites {
  position: relative;
  left: 15px;
  top: 15px;
  font-size: 13px;
  font-weight: 200;
}

.fa-primary-color {
  color: #7e7e7e;
}

.fa-secondary-color {
  color: #9356DC;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  border-radius: 25px;
}

.operation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.operation__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 10px;
  left: 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
}
.operation__button2 {
  width: 80%;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 200;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.1);
}
.operation__button2 i {
  position: relative;
  left: 30px;
}
.operation__button3 {
  width: 80%;
  height: 75px;
  background-color: #f5edff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 200;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.1);
}
.operation__button3 i {
  position: relative;
  left: 30px;
}
.operation__button--text {
  position: relative;
  left: 50px;
}

/*# sourceMappingURL=style.css.map */
