html,
body,
* {
  margin: 0;
  box-sizing: border-box;
}

a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  background: inherit;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

h2 {
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

h5 {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes progressiveDish {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes square {
  100% {
    position: relative;
    left: 0px;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loader Bars*/
.loader-bars {
  display: flex;
}

.loader-bars::before {
  content: "";
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: #9356DC;
  animation: grow 1s linear infinite;
}

.loader-bars::after {
  content: "";
  position: relative;
  left: 15px;
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: #FF79DA;
  animation: grow 1s linear 0.25s infinite;
}

.loader span::before {
  content: "";
  display: flex;
  position: relative;
  left: 30px;
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: #99E2D0;
  animation: grow 1s linear 0.5s infinite;
}

.header {
  width: 100%;
  display: flex;
  min-width: 280px;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 801px) {
  .header {
    flex-direction: row;
  }
}
.header a {
  position: absolute;
  top: 15px;
  left: 40px;
}
.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
}
@media screen and (min-width: 801px) {
  .header h1 {
    width: 50%;
  }
}
.header h1 i {
  color: #353535;
}
.header h1 img {
  height: 40px;
}

#header__desktop--center {
  width: 100%;
}

.footer {
  height: 200px;
  display: flex;
  min-width: 280px;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
}
@media screen and (min-width: 801px) {
  .footer {
    justify-content: space-evenly;
  }
}
.footer__logo {
  display: flex;
  width: 85%;
  padding-top: 23px;
  padding-bottom: 23px;
}
@media screen and (min-width: 801px) {
  .footer__logo {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.footer__logo img {
  height: 20px;
}
@media screen and (min-width: 801px) {
  .footer__logo img {
    height: 40px;
  }
}
.footer ul {
  margin-top: 0px;
  width: 85%;
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 801px) {
  .footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}
.footer ul,
.footer h5,
.footer h4 {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
@media screen and (min-width: 801px) {
  .footer ul,
.footer h5,
.footer h4 {
    font-family: roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
  }
}
.footer i {
  color: #fff;
  padding-right: 20px;
}
@media screen and (min-width: 801px) {
  .footer__iSize {
    font-size: 45px;
  }
}
.footer h5 {
  display: flex;
  align-items: center;
}

.localisation {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  min-width: 280px;
  width: 100%;
  color: #353535;
  font-size: 12px;
  background: linear-gradient(#cfcfcf 0%, #eaeaea 12%);
}
@media screen and (min-width: 801px) {
  .localisation {
    width: 50%;
    height: 63px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 19%);
  }
}
.localisation i {
  position: relative;
  right: 19px;
}

.slogan {
  height: 260px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-width: 280px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 801px) {
  .slogan {
    width: 45%;
    height: 440px;
  }
}
@media screen and (min-width: 1025px) {
  .slogan {
    width: 100%;
    height: 260px;
  }
}
.slogan__one {
  padding-top: 45px;
  width: 50%;
}
@media screen and (min-width: 801px) {
  .slogan__one {
    padding-top: 120px;
  }
}
@media screen and (min-width: 801px) and (min-width: 1025px) {
  .slogan__one {
    padding-top: 45px;
  }
}
.slogan__two {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
  padding-top: 23px;
  padding-bottom: 33px;
  width: 70%;
}

.sloganOperation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 801px) {
  .sloganOperation {
    flex-direction: row;
  }
}
@media screen and (min-width: 801px) and (min-width: 1025px) {
  .sloganOperation {
    flex-direction: column;
  }
}

.operation {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
  height: 440px;
}
@media screen and (min-width: 801px) {
  .operation {
    width: 60%;
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(246, 246, 246) 90%);
  }
}
@media screen and (min-width: 801px) and (min-width: 1025px) {
  .operation {
    background: #fff;
    width: 100%;
    height: 220px;
  }
}
.operation__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .operation__buttons {
    flex-direction: row;
  }
}
.operation__title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 54px;
  padding-bottom: 34px;
}
.operation__text {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  height: 1226px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 801px) {
  .restaurants {
    height: 680px;
  }
}
.restaurants a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.restaurants a:hover {
  opacity: 1;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.1);
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 801px) {
  .restaurants__cards {
    flex-direction: row;
  }
}
.restaurants__cards1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 801px) {
  .restaurants__cards1 {
    width: 50%;
    align-items: center;
  }
}
.restaurants__cards2 {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 801px) {
  .restaurants__cards2 {
    width: 50%;
    align-items: center;
  }
}
.restaurants__title {
  padding-top: 60px;
  padding-bottom: 10px;
  width: 80%;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.restaurants__card {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}
.restaurants__card img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.restaurants__image {
  display: flex;
  position: relative;
}
.restaurants__identity {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.restaurants__like {
  display: flex;
  position: relative;
  bottom: 20px;
  justify-content: flex-end;
  width: 100%;
}
.restaurants__like .fa-full {
  opacity: 0;
  transition: 1s;
}
.restaurants__like .fa-full:hover {
  opacity: 1;
  background: -webkit-linear-gradient(#9356DC 20%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__name {
  position: relative;
  left: 15px;
  top: 10px;
}
.restaurants__sites {
  position: relative;
  left: 15px;
  top: 15px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.menu {
  width: 100%;
  max-width: 1200px;
  min-width: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  height: 1200px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}
@media screen and (min-width: 1025px) {
  .menu {
    height: 550px;
  }
}
.menu__center {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.menu__background {
  background-color: #f6f6f6;
}
.menu__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu__restaurant {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.menu__models {
  display: flex;
  flex-direction: column;
  width: 95%;
}
@media screen and (min-width: 1025px) {
  .menu__models {
    flex-direction: row;
  }
}
.menu__model {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  overflow: hidden;
}
.menu__title {
  width: 95%;
  padding-bottom: 7px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.menu__bar {
  width: 95%;
}
.menu__bar--bar {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu__dish {
  width: 100%;
  display: flex;
  height: 70px;
  margin-top: 14px;
  border-radius: 15px;
  background-color: #fff;
  animation: progressiveDish 1s;
  animation-fill-mode: backwards;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .menu__dish {
    width: 90%;
  }
}
.menu__dish--delay-1 {
  animation-delay: 0s;
}
.menu__dish--delay-2 {
  animation-delay: 0.1s;
}
.menu__dish--delay-3 {
  animation-delay: 0.2s;
}
.menu__dish--delay-4 {
  animation-delay: 0.3s;
}
.menu__dish:hover .menu__square {
  transform: translateX(-70px);
}
.menu__dish:hover .menu__square i {
  transform: rotate(0);
}
.menu__dish:hover .menu__price {
  transform: translateX(-70px);
}
.menu__nameIngredients {
  width: 80%;
  padding-left: 10px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.menu__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.menu__ingredients {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.menu__price {
  position: relative;
  left: 70px;
  width: 20%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.menu__price p {
  position: relative;
  top: 10px;
}
.menu__button {
  margin-top: 50px;
}
.menu__square {
  position: relative;
  left: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  transition: transform 0.5s;
  border-radius: 0px 15px 15px 0px;
}
.menu__square i {
  color: #fff;
  transform: rotate(180deg);
  transition: transform 0.8s;
}
.menu__like {
  cursor: pointer;
}
.menu__like .fa-full {
  opacity: 0;
  transition: 1s;
}
.menu__like .fa-full:hover {
  opacity: 1;
  color: #9356DC;
}

#menu__bigger {
  height: 1300px;
}
@media screen and (min-width: 1025px) {
  #menu__bigger {
    height: 650px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  border-radius: 25px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(#ff8de0 0%, #9e67e0 100%);
}

.operation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  width: 100%;
}
.operation__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 10px;
  left: 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
}
.operation__button2 {
  width: 80%;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1025px) {
  .operation__button2 {
    width: 90%;
  }
}
.operation__button2 i {
  position: relative;
  color: #7e7e7e;
  left: 30px;
}
.operation__button2:hover {
  cursor: pointer;
  background-color: #f5edff;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.13);
}
.operation__button2:hover i {
  color: #9356DC;
}
.operation__button--text {
  position: relative;
  left: 50px;
}

.restaurant__buttonNew {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 81px;
  height: 29px;
  background-color: #99E2D0;
  color: #1b6150;
  font-family: roboto, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
