html,
body,
* {
  margin: 0;
  box-sizing: border-box;
}

a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  background: inherit;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes progressiveDish {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loader Bars*/
.loader-bars {
  display: flex;
}

.loader-bars::before {
  content: "";
  width: 10px;
  height: 30px;
  background-color: #9356DC;
  animation: grow 1s linear infinite;
}

.loader-bars::after {
  content: "";
  position: relative;
  left: 15px;
  width: 10px;
  height: 30px;
  background-color: #FF79DA;
  animation: grow 1s linear 0.25s infinite;
}

.loader span::before {
  content: "";
  display: flex;
  position: relative;
  left: 30px;
  width: 10px;
  height: 30px;
  background-color: #99E2D0;
  animation: grow 1s linear 0.5s infinite;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 63px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900%;
}
.header__logo i {
  color: #353535;
}

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
}
.footer__logo {
  width: 80%;
  margin-top: 25px;
}
.footer__logo img {
  height: 18px;
}
.footer ul {
  margin-top: 15px;
  width: 80%;
  list-style-type: none;
  padding: 0;
}
.footer li {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.footer i {
  color: #fff;
  padding-right: 20px;
}

.localisation {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #353535;
  font-size: 12px;
  background: linear-gradient(#cfcfcf 0%, #eaeaea 12%);
}
.localisation i {
  position: relative;
  right: 19px;
}

.slogan {
  height: 290px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
}
.slogan__one {
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 45px;
  width: 50%;
}
.slogan__two {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
  padding-top: 23px;
  padding-bottom: 33px;
  width: 70%;
}

.operation {
  display: flex;
  flex-direction: column;
  height: 440px;
}
.operation__title {
  display: flex;
  justify-content: center;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 54px;
  padding-bottom: 34px;
}
.operation__text {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1226px;
  background-color: #f6f6f6;
}
.restaurants a {
  display: flex;
  justify-content: center;
  width: 100%;
}
.restaurants__title {
  padding-top: 60px;
  padding-bottom: 10px;
  width: 80%;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.restaurants__card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
}
.restaurants__card img {
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.restaurants__identity {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.restaurants__like {
  display: flex;
  position: relative;
  bottom: 20px;
  justify-content: flex-end;
  width: 100%;
}
.restaurants__like .fa-full {
  opacity: 0;
  transition: 1s;
}
.restaurants__like .fa-full:hover {
  opacity: 1;
  color: #9356DC;
}
.restaurants__name {
  position: relative;
  left: 15px;
  top: 10px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.restaurants__sites {
  position: relative;
  left: 15px;
  top: 15px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 50px;
  height: 1150px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
}
.menu__bigger {
  height: 1234px;
}
.menu__background {
  background-color: #f6f6f6;
}
.menu__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu__restaurant {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.menu__restaurant i {
  position: relative;
  right: 27px;
}
.menu__model {
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  width: 95%;
}
.menu__title {
  width: 95%;
  padding-bottom: 7px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.menu__bar {
  width: 95%;
}
.menu__bar--bar {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu__dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top: 14px;
  border-radius: 15px;
  background-color: #fff;
  animation: progressiveDish 1s;
  animation-fill-mode: backwards;
}
.menu__dish--delay-1 {
  animation-delay: 0s;
}
.menu__dish--delay-2 {
  animation-delay: 0.1s;
}
.menu__dish--delay-3 {
  animation-delay: 0.2s;
}
.menu__dish--delay-4 {
  animation-delay: 0.3s;
}
.menu__name {
  width: 90%;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.menu__ingredients {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.menu__price {
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.menu__button {
  margin-top: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  border-radius: 25px;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(#ff8de0 0%, #9e67e0 100%);
}

.operation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.operation__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 10px;
  left: 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
}
.operation__button2 {
  width: 80%;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: roboto, sans-serif;
  font-size: 13px;
  font-weight: 200;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.1);
}
.operation__button2 i {
  position: relative;
  color: #7e7e7e;
  left: 30px;
}
.operation__button2:hover {
  cursor: pointer;
  background-color: #f5edff;
  box-shadow: 0px 7px 15px 7px rgba(0, 0, 0, 0.13);
}
.operation__button2:hover i {
  color: #9356DC;
}
.operation__button--text {
  position: relative;
  left: 50px;
}

/*# sourceMappingURL=style.css.map */
